{sub_dirs, ["deps"]}.

{deps, [
    {'bear', {git, "git://github.com/boundary/bear.git", {tag, "0.1.2"}}},
    {meck, {git, "git://github.com/eproxus/meck.git", {tag, "0.8.13"}}}
]}.

{xref_checks,[undefined_function_calls,undefined_functions,
    deprecated_function_calls, deprecated_functions]}.

{erl_opts, [debug_info]}.
